html, body{
    background-color: transparent;
    height: 100%;
}
@media screen and (max-width:321px){html{font-size:9px}}
@media screen and (min-width:321px) and (max-width:375px){html{font-size:10px}}
@media screen and (min-width:376px) and (max-width:414px){html{font-size:12px}}
@media screen and (min-width:415px) and (max-width:639px){html{font-size:12px}}
@media screen and (min-width:640px) and (max-width:719px){html{font-size:12px}}
@media screen and (min-width:720px){html{font-size:16px}}
@media screen and (min-width:750px) and (max-width:799px){html{font-size:23.5px}}
@media screen and (min-width:800px)and (max-width:1199px){html{font-size:25px}}
@media screen and (min-width:1200px){html{font-size:30px}}
#app{
    height: 100%;
}

.lsn {
    list-style: none;
    padding: 0;
}

.dib {
    display: inline-block;
}

.pr5 {
    padding-right: 5px
}

.mt5 {
    margin-bottom: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.bb1 {
    border-bottom: 1px solid #efeff4;
}

li {
    list-style: none;
}
.fl {
    float: left;
}

.fr {
    float: right;
}

ul {
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 0;
}

.bod {
    font-weight: bold;
}

.mui-content {
    background-color: transparent;
}

.f08 {
    font-size: 0.8rem;
}

.f09 {
    font-size: 0.9rem;
}

.f10 {
    font-size: 1rem;
}

.f11 {
    font-size: 1.1rem;
}

.f12 {
    font-size: 1.2rem;
}

.f13 {
    font-size: 1.3rem;
}

.f14 {
    font-size: 1.4rem;
}

.f15 {
    font-size: 1.5rem;
}

.f16 {
    font-size: 1.6rem;
}

.f17 {
    font-size: 1.7rem;
}

.f18 {
    font-size: 1.8rem;
}

.f19 {
    font-size: 1.9rem;
}

.f20 {
    font-size: 2.0rem;
}

.f25 {
    font-size: 2.5rem;
}

.fc {
    color: #743535
}

.fc0 {
    color: #ffffff;
}

.fc1 {
    color: #000;
}

.fc2 {
    color: #C6C6C6;
}

.fc3 {
    color: #ECCC9B;
}

.fc4 {
    color: #743535
}

.fc5 {
    color: #ECB90E;
}

.fc6 {
    color: #E0372E;
}

.bgc {
    background-color:  #743535
}

.bgc1 {
    background-color: transparent;
}

.bgc2 {
    background-color: #FFFFFF;
}

.bgc3 {
    background-color: #E9C999;
}

.bgc4 {
    background-color: #C6C6C6;
}

.pd15 {
    padding: 10px 15px;
}

.tei {
    text-indent: 28px;
}

.mgt10 {
    margin-top: 10px;
}

.max3 {
    max-width: 30%;
}

.max5 {
    max-width: 50%;
}

.pdl5 {
    padding-left: 5px;
}

#app {
    min-height: 100%;
}

.oh {
    overflow: hidden;
}

.dt {
    margin: 0 !important;
    width: 100%;
    display: table;
}

.dts {
    display: table-cell;
    vertical-align: middle;
}