<?xml version="1.0" encoding="UTF-8" ?>    
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csmf.dao.PersonTrainDao">


	<insert id="saveTrainInfo" parameterType="java.util.HashMap">
		INSERT into
		t_person_training_info
		(id,member_id,start_time,end_time,company_name,training_level,training_type,training_name,remark,create_time,update_time,save_flag)
		<trim prefix="values (" suffix=")" suffixOverrides="," >      
         <if test="id != null" >#{id},</if>      
         <if test="memberId != null" >#{memberId},</if>
         <if test="startTime != null" >#{startTime},</if>
         <if test="endTime != null" >#{endTime},</if>
         <if test="companyName != null" >#{companyName},</if>
         <if test="trainingLevel != null" >#{trainingLevel},</if>
         <if test="trainingType != null" >#{trainingType},</if>
         <if test="trainingName != null" >#{trainingName},</if>
         <if test="remark != null" >#{remark},</if>
         <if test="createTime != null" >#{createTime},</if>
         <if test="updateTime != null" >#{updateTime},</if>
         <if test="saveFlag != null" >#{saveFlag},</if>
        </trim>
	</insert>

	<update id="updateTrainById" parameterType="java.util.HashMap">
		update t_person_training_info 
		<trim prefix="set "  suffixOverrides="," > 
		         <if test="startTime != null" >start_time=#{startTime},</if>
		         <if test="endTime != null" >end_time=#{endTime},</if>
		         <if test="companyName != null" >company_name=#{companyName},</if>
		         <if test="trainingName != null" >training_name=#{trainingName},</if>
		         <if test="trainingLevel != null" >training_level=#{trainingLevel},</if>
		         <if test="trainingType != null" >training_type=#{trainingType},</if>
		         <if test="remark!= null" >#{remark},</if>
		         <if test="updateTime != null" >update_time=#{updateTime},</if>
		</trim>
		where member_id=#{memberId} and id=#{id}
	</update>

	<select id="queryTrainById" parameterType="java.lang.String"
		resultType="java.util.HashMap">
		SELECT 
		id,
		DATE_FORMAT(start_time,'%Y/%m/%d') as startTime,
		DATE_FORMAT(end_time,'%Y/%m/%d') as endTime,
		company_name as companyName,
		training_level as trainingLevel,
		training_name as trainingName,
		training_type as trainingType,
		save_flag as saveFlag
		from t_person_training_info
		where member_id = #{memberId}
	</select>


</mapper>